:{$PORT}

root * /srv
file_server

# Add headers for better browser compatibility
header / Cache-Control "no-cache, no-store, must-revalidate"
header *.css Cache-Control "no-cache, no-store, must-revalidate"
header *.css Content-Type "text/css"
header *.js Content-Type "application/javascript"
